body {background-image: url("/assets/site/mapblue.jpg")};
#container {
    display: inline-block;
    height: 330px;
    width: 330px;
}
.container {
    display: inline-block;
    position: relative;
    height: 220px;
    width: 220px;
}
.side {
    width: 350px;
    height: 100%;
    background: dimgray;
    position: absolute;
    z-index: 2;
    right: 0px;
}
.searchbar{
    position: fixed;
    margin-left: 7%;
    bottom: 5%;
}
.button{
    position: fixed;
    margin-left: 11%;
    bottom: 1%;
}